
Roue_De_La_Fortune/Roue_De_La_Fortune.pro.user

Server/Server/x64/Debug/

Server/x64/Debug/

*.ipch

*.opendb

*.db

Server/.vs/Server/v16/.suo

Server/Debug/

Server/Server/Debug/

*.exe

*.iobj

*.ipdb

*.pdb

Server/Server/players.txt

Server/Server/Release/

Server/Server/x64/Release/

build-Roue_De_La_Fortune-Desktop_Qt_5_14_2_GCC_64bit-Debug/

build-Roue_De_La_Fortune-Desktop_Qt_5_14_2_GCC_64bit-Release/

Server/Server/.vscode/

Server/Server/serv
